*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
 .clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.contenitore {
    height: 900px;
    width: 1900px;
    margin-left: 350px;
    margin-top: 10px;
    
}
.card-1 {
    height: 900px;
    width: 600px;
    float: left;
    background-image: url(/css/img/1.webp);
    
}
.hears {
    height: 80px;
    width: 80px;
    margin-top: 2rem;
    padding-top: 1rem;
    float: right;
    text-align: center;
    font-size: 42px;
    background-color: white;
}

.red{
    height: 35px;
    width: 70px;
    background-color: red;
    margin-top: 840px;
    text-align: center;
    font-size: 30px;
    color: white;
}
.green{
    
}
.card-2{
    height: 900px;
    width: 600px;
    margin-inline: auto;
    background-image: url(/css/img/2.webp);

}
.card-3 {
    height: 900px;
    width: 600px;
    float: right;
    background-image: url(/css/img/1.webp);
    
}