*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
 .clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.contenitore {
    height: 900px;
    width: 1900px;
    margin-left: 350px;
    margin-top: 10px;
    
}
.oggetto1{
    float: left;
}
.card-1 {
    height: 900px;
    width: 600px;
    background-image: url(/css/img/1.webp);
}

.hears {
    height: 80px;
    width: 80px;
    margin-top: 2rem;
    padding-top: 1rem;
    float: right;
    text-align: center;
    font-size: 42px;
    background-color: white;
}
.red{
    height: 35px;
    width: 70px;
    float: left;
    background-color: red;
    margin-top: 840px;
    text-align: center;
    font-size: 30px;
    color: white;
}
.green{
    height: 35px;
    width: 100px;
    margin-top: 840px;
    float: left;
    margin-left: 8px;
    background-color: green;
    text-align: center;
    font-size: 19px;
    color: white;
    padding-top: 7px;
}
.oggetto2{
    width: 600px;
    margin-inline: auto;
}
.card-2{
    height: 900px;
    width: 600px;
    background-image: url(/css/img/2.webp);

}
.oggetto3{
    float: right;
}
.card-3 {
    height: 900px;
    width: 600px;
    background-image: url(/css/img/3.webp);
}
.prezzi {
    width: 600px;
    font-family: 'Kaisei Tokumin', serif;
    font-size: 20px;
}
.modello{
    font-weight: 600;
}
.offerta {
    font-weight: 700;
    color: red;
}
.contenitore2 {
    height: 900px;
    width: 1900px;
    margin-left: 350px;
    margin-top: 72px;
}
.card-4{
    height: 900px;
    width: 600px;
    background-image: url(/css/img/4.webp);
}
.card-5{
    height: 900px;
    width: 600px;
    background-image: url(/css/img/5.webp);  
}
.card-6{
    height: 900px;
    width: 600px;
    background-image: url(/css/img/6.webp);
}
.oggetto4{
    float: left;
}
.oggetto5{
    width: 600px;
    margin-inline: auto;
}
.oggetto6{
    float:right
}